html, body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Computer Modern Serif', serif;
}

h1 {
    font-weight: bold;
}

canvas {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fullscreen {
    overflow: hidden;
}

.fullscreen .content {
    display: none;
}

#canvas {
    position: relative;
    padding: 0;
    margin:0;
}

#description {
    width: 75vw;
    padding-top: 1em;
}

button {
    font-family: 'Computer Modern Serif', serif;
}

.topleft {
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 99999; */
}

.bottomright {
    position: absolute; 
    right:0; 
    bottom:0;
    /* z-index: 999999; */
}