html,
body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Computer Modern Serif', serif;
    font-feature-settings: "onum" 1;
}

@supports (font-variant-numeric: oldstyle-nums) {
    body {
        font-feature-settings: normal;
        font-variant-numeric: oldstyle-nums;
    }
}

h1 {
    font-weight: bold;
}

.katex {
    font-size: 1em !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.references {
    text-align: left;
}

.references u {
    font-family: 'Times New Roman';
    font-variant: small-caps;
    font-variant-numeric: oldstyle-nums;
    text-decoration: none;
}

canvas {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

.fullscreen {
    overflow: hidden;
}

.fullscreen .content {
    display: none;
}

#wrapper {
    display: grid;
    grid-template: "h" 1fr / 1fr;
    justify-content: center;
    align-content: center;
}

#spinnericon {
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#spinnericon i {
    font-size: 18pt;
}

#canvas {
    position: relative;
    grid-area: h;
    padding: 0;
    margin: 0;
}

#description {
    width: min(75vw, 900px);
    padding-top: 1em;
    text-align: justify;
}

button {
    font-family: 'Computer Modern Serif', serif;
}

.topleft {
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 99999; */
}

.bottomright {
    position: absolute;
    right: 0;
    bottom: 0;
    /* z-index: 999999; */
}